
body {
    color: rgb(255, 4, 4);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(153, 0, 255);
    padding: 20px;
    font-size: 32px;
    color: rgba(194, 14, 14, 0.904);
    font-family: "Rubik Beastly", system-ui;
}

.chamada {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}